<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/changeLanguage_cv.js"></script> 
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./css/style_cv.css" /> 
    <title>{{ title }}</title>
</head>


<body>
<header>
    <div class="header_logo">
        <img src="./assets/images_rework/vic-identite.webp" class="vic_identite">
        <img src="./assets/images_rework/cv1.webp" class="cv_image">   
        <a href="index.html"><img src="./assets/images_rework/nav_icon2.webp" class="icon"> </a>
    </div>
    <div class="langue_container">
        <button class="en_btn" onclick="changeLanguage('en')"><img class="img_langue" src="./assets/images_rework/Bouton_EN.webp"></button>
        <button class="fr_btn" onclick="changeLanguage('fr')"><img class="img_langue" src="./assets/images_rework/Bouton_FR.webp"></button>
      </div>
</header>

<main class="contenu_main">
<div class="container_gauche">
<div class="english">
    <h1>Education</h1>
    <div class="details">
    {% for education in collections.sortedEducation %}
        {% if education.data.tags and "education" in education.data.tags %}
        <div class="sous_details">
          <p class="dates">{{education.data.dates_formation}}</p>
          <p class="description">{{education.data.formation_en}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Solo Shows</h1>
    <div class="details">
    {% for solo_show in collections.sortedSoloShows %}
        {% if solo_show.data.tags and "solo_show" in solo_show.data.tags %}
        <div class="sous_details">
          <p class="dates">{{solo_show.data.dates_solo_show}}</p>
          <p class="description">{{solo_show.data.solo_show_en}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Collective Shows</h1>
    <div class="details">
    {% for show in collections.sortedShows %}
        {% if show.data.tags and "show" in show.data.tags %}
        <div class="sous_details">
          <p class="dates">{{show.data.dates_show}}</p>
          <p class="description">{{show.data.show_en}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Performance</h1>
    <div class="details">
    {% for performance in collections.sortedPerformance %}
        {% if performance.data.tags and "performance" in performance.data.tags %}
        <div class="sous_details">
          <p class="dates">{{performance.data.dates_performance}}</p>
          <p class="description">{{performance.data.performance_en}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

      <h1>Curating</h1>
  <div class="details">
    {% for curating in collections.sortedCurating %}
      {% if curating.data.tags and "curation" in curating.data.tags %}
        <div class="sous_details">
          <p class="dates">{{ curating.data.dates_curation }}</p>
          <p class="description">{{ curating.data.curation_en }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h1>Residency</h1>
  <div class="details">
    {% for residency in collections.sortedResidency %}
      {% if residency.data.tags and "residency" in residency.data.tags %}
        <div class="sous_details">
          <p class="dates">{{ residency.data.dates_residency }}</p>
          <p class="description">{{ residency.data.residency_en }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h1>Association</h1>
  <div class="details">
    {% for association in collections.sortedAssociation %}
      {% if association.data.tags and "association" in association.data.tags %}
        <div class="sous_details">
          <p class="dates">{{ association.data.dates_association }}</p>
          <p class="description">{{ association.data.association_en }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h1>Press</h1>
  <div class="details">
    {% for press in collections.sortedPress %}
      {% if press.data.tags and "press" in press.data.tags %}
        <div class="sous_details">
          <p class="dates">{{ press.data.dates_press }}</p>
          <p class="description">{{ press.data.press_en }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="français" style="display: none;">
    <h1>Formation</h1>
    <div class="details">
    {% for education in collections.cv %}
        {% if education.data.tags and "education" in education.data.tags %}
        <div class="sous_details">
          <p class="dates">{{education.data.dates_formation}}</p>
          <p class="description">{{education.data.formation_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Expositions personnelles</h1>
    <div class="details">
    {% for solo_show in collections.sortedSoloShows %}
        {% if solo_show.data.tags and "solo_show" in solo_show.data.tags %}
        <div class="sous_details">
          <p class="dates">{{solo_show.data.dates_solo_show}}</p>
          <p class="description">{{solo_show.data.solo_show_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Expositions Collectives</h1>
    <div class="details">
    {% for show in collections.cv %}
        {% if show.data.tags and "show" in show.data.tags %}
        <div class="sous_details">
          <p class="dates">{{show.data.dates_show}}</p>
          <p class="description">{{show.data.show_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Performance</h1>
    <div class="details">
    {% for performance in collections.cv %}
        {% if performance.data.tags and "performance" in performance.data.tags %}
        <div class="sous_details">
          <p class="dates">{{performance.data.dates_performance}}</p>
          <p class="description">{{performance.data.performance_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Curation</h1>
    <div class="details">
    {% for curation in collections.cv %}
        {% if curation.data.tags and "curation" in curation.data.tags %}
        <div class="sous_details">
          <p class="dates">{{curation.data.dates_curation}}</p>
          <p class="description">{{curation.data.curation_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Residency</h1>
    <div class="details">
    {% for residency in collections.cv %}
        {% if residency.data.tags and "residency" in residency.data.tags %}
        <div class="sous_details">
          <p class="dates">{{residency.data.dates_residency}}</p>
          <p class="description">{{residency.data.residency_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Association</h1>
    <div class="details">
    {% for association in collections.cv %}
        {% if association.data.tags and "association" in association.data.tags %}
        <div class="sous_details">
          <p class="dates">{{association.data.dates_association}}</p>
          <p class="description">{{association.data.association_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1>Presse</h1>
    <div class="details">
    {% for press in collections.cv %}
        {% if press.data.tags and "press" in press.data.tags %}
        <div class="sous_details">
          <p class="dates">{{press.data.dates_press}}</p>
          <p class="description">{{press.data.press_fr}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
</div>

<div class="container_droite">
    <img class="photo_victor" src="./assets/images_rework/cv_identite.webp">
</div>
</main>

</body>
</html>