<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/style_contact.css" />
    <title>CONTACT</title>
</head>
<body> 
    <div class="top">
            <img src="./assets/images/enveloppe2.png" class="enveloppe_contact_phone">
            <a href="index.html"><img src="./assets/images/Contact Page/nav_icon2.png" class="nav_icon"> </a>
    </div>

    <div class="middle">
        <img src="./assets/images/enveloppe2.png" class="enveloppe_contact">
    </div>
    <div class="contact_info"> 
        {% for contact in collections.contact %}
        <p class="nom_adresse"> {{contact.data.nom_adresse}} </p>
        <a class="mail" href= "mailto:{{contact.data.mail}}" style="color: blue;">{{contact.data.mail}}</a>
        <a class="instagram" href="{{contact.data.instagram_link}}" target="_blank" style="color: blue;">Instagram</a>
        {% endfor %}
    </div>
</body>