<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./css/style_bio.css" />
    <script src="./js/changelanguage_bio.js" type="text/javascript"></script> 
    <title>{{ title }}</title>
</head>

<body>
    <div class="top_bio">
            <img src="./assets/images_rework/bio.webp" class="bio_page">
        <a href="index.html">
            <img src="./assets/images_rework/nav_icon2.webp" class="nav_icon_bio">
        </a>
    </div>
    <div class="langue">
        <button class="fr_btn" onclick="changeLanguage('fr')"><img class="bouton" src="./assets/images_rework/Bouton_FR.webp"></button>
        <button class="en_btn" onclick="changeLanguage('en')"><img class="bouton" src="./assets/images_rework/Bouton_EN.webp"></button>
    </div>
<div class="middle_bio">
<div class="bio_fr">
{% for bio in collections.bio %}
<p class="bio_français">{{bio.data.bio_français}}</p>
</div>
<div class="bio_en">
<p class="bio_anglais">{{bio.data.bio_anglais}}</p>
{% endfor %}
</div>
</div>
</body>
