<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/js/works_js/arrows.js"></script> 
    <script src="/js/works_js/changeLanguage_works.js"></script> 
    <script src="/js/works_js/lightbox.js"></script>
    <script defer src="/js/works_js/menu_projets_phone2.js"></script>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/style_works.css" /> 
    <title>{{ title }}</title>

</head>
<body>  

<div class="container_gauche" id="containerGauche">
        <div class="container_gauche_phone">
                <img src="/assets/images_rework/works1.webp" class="works_image_phone"> 
            <a href="index.html"><img src="/assets/images_rework/nav_icon2.webp" class="icon_gauche"> </a> 
        </div>
        <img src="/assets/images/works1.png" class="works_image"> 
        <div class="langue_container">
            <button class="en_btn" onclick="changeLanguage('en')"><img class="img_langue" src="/assets/images_rework/Bouton_EN.webp"></button>
            <button class="fr_btn" onclick="changeLanguage('fr')"><img class="img_langue" src="/assets/images_rework/Bouton_FR.webp"></button>
        </div>
        
        <ul class="liste_expos">
    {% set uniqueYears = [] %}
    {% for work in collections.works %}
        {% set year = work.data.année %}
        {% if uniqueYears.indexOf(year) == -1 %}
            {% set _ = uniqueYears.push(year) %}
        {% endif %}
    {% endfor %}

    {% for year in uniqueYears | sort | reverse %}
        <h1>{{ year }}</h1>
        {% for work in collections.works | sort(attribute='data.mois') | reverse %}
            {% if work.data.année == year %}
                <li data-year="{{ work.data.année }}" data-month="{{ work.data.mois }}">
                    <a href="{{work.url}}" class="toggle-container" onclick="handleLinkClick(event)">{{ work.data.nom_lieu }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
        </ul>
</div> 

   <main>
    <div class="container_droite" id="mobile-hidden">
        {% block last_article %}
            {% if not lastWork %}
                {% set lastWork = collections.works | sort(attribute='data.date') | last %}
                {{ lastWork.content | safe }}
            {% endif %}
        {% endblock %}
  {{content | safe}}
    </main>       
</body>
</html>