/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body, html, * {
    font-family: 'Times New Roman', Times, serif;
}

/* Remove the blue color on hover for all images */
img {
    user-select: none;
}

/* HEADER */

.nav_bar {
    display: flex;
    justify-content: space-between; /* Align items to the left */
    align-items:center; /* Align items to the left */
    width: 100vw;
    height: 20vh;
    /* background-color: rgb(196, 11, 11); */
}

.logo_victor {
    display: flex;
    width: 25vw;
    padding-left: 1vw;
    padding-top: 1vh;
}

.enveloppe {
    display:flex;
    align-self:center;
    width: 7vw;
    padding-top: 4vh;
    padding-right:2vw;
    float:right;
}

.enveloppe:hover {
    content: url('../assets/images/enveloppe2.png');
    height: 60%;
}

/* PRINCIPAL */

.principal {
    display: flex;
    width: 100vw;
    height: 70vh;
}

.principal_centre {
    position: relative;
    width:50vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

/* IMAGE PUZZLE */
.lien_puzzle {
    display: flex;
    position: absolute;
    align-self: center;
    left: 20%;
    /* margin-top: 40%; */
}

.image_puzzle {
    width: 12vw;
}

.puzzle_phone {
    display: none;
}

.principal_gauche, .principal_droite {
    display: flex;
    width: 25vw;
    height: 70vh;
    position: relative;
}

.principal_droite {
    display: flex;
    width: 25vw;
    height: 70vh;
    position: relative;
    align-items: end;
}

.logo_music {
    display: flex;
    height: 15vh;
    padding-left: 7vw;
    padding-bottom: 22vh;
}

/* Image Website By */ 
.link_website_by {
    display: flex;
}

.website_by {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18vw;
    margin-bottom: 2vh;
    margin-right: 1vw;
}


/* CHEMISE */

.image_chemise {
    width: 60vw;
    z-index: 0;
    text-align: center;
    cursor: pointer;
}

.image_puzzle:hover {
    cursor: pointer;
    content: url('../assets/images/puzzle_hover.png');
}


/* LOGOS */

.lien_works {
position: absolute;
text-align: center;
margin-bottom: 37%;
}


.lien_bio {
    position: absolute;
    text-align: center;
    margin-bottom: 5%;
}
    

.lien_cv {
    position: absolute;
    text-align: center;
    margin-top: 37%;
}


.logo_works, .logo_bio, .logo_cv {
    width: 15vw; 
    max-height: 23vw;
}

.logo_works:hover, .logo_bio:hover , .logo_cv:hover, .logo_music:hover {
    opacity: 0.5;
}


/* ANIMATION DU CHEVAL QUI BOUGE */
.container_cheval {
    display: flex;
    height: 10vh;
}

.cheval {
    display: flex;
    align-items: center;
    animation: moveX 20s linear infinite;
    z-index: 1;
    height: 25vh;
    margin-top: -13vh;
}


@keyframes moveX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(700% - 1px)); /* Adjust the distance the GIF should move */
    }
}

/* VERSION MOBILE */

@media all and (max-width: 992px) {

.container_cheval, .principal_droite, .principal_gauche {
    display: none;
}

.image_chemise {
    width: 175vw;
    left: 0;
    position: absolute;
    margin-top: 15vh;
    margin-left: 55vw;
}

.enveloppe:hover {
    content: none;
}

/* HEADER */

.nav_bar {
    height: auto;
}

.logo_victor {
    width: 70vw;
}

.enveloppe {
    width: 17vw;
}

/* LOGOS */

.principal_centre  {
    position: relative;
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

    .lien_works {
    /* left: 0; */
    text-align: center;
    margin-bottom: 70%;
    }
    
    
    .lien_bio {
    text-align: center;
    }
        
    
    .lien_cv {
        position: absolute;
        text-align: center;
        margin-top: 70%;
    }

    .logo_works, .logo_bio, .logo_cv {
        width: 65vw;
        max-height: 80vh;
    }

/* PUZZLE PHONE */
    .puzzle_phone {
        display: flex;
    }

    .lien_puzzle_phone {
        display: flex;
        width: 25vw;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .image_puzzle_phone {
        width: 25vw;
    }

    .image_puzzle:hover {
        content: none;
    }

    .website_by_phone {
        display: flex;
        width: 60vw;
        position: absolute;
        left: 0;
        bottom: 0;
    }

}
