---
title: VICTOR DELETRAZ
layout: 'base.njk'
permalink: /
---

<link rel="stylesheet" type="text/css" href="./css/style_index.css" />
<script src="./js/smoke.js" type="text/javascript"></script> 

<div class="nav_bar">
    <img src="./assets/images/logo_victor.png" class="logo_victor">
    <a href="./contact.njk">
      <img src="./assets/images/enveloppe1.png" class="enveloppe"/>
    </a>
</div>

<div class="principal">
    <div class="principal_gauche">
        <img class="image_puzzle" src="./assets/images/puzzle-new.png"></img>
    </div>
    <div class="principal_centre">
        <img src="./assets/images/chemise7.png" class="image_chemise"></img>
        <a class="lien_works" href="./works.njk"><img class="logo_works" src="./assets/images/works1.png"></a>
        <a class="lien_bio" href="./bio.njk"><img class="logo_bio" src="./assets/images/bio.png"></a>
        <a class="lien_cv" href="./cv.njk"><img class="logo_cv" src="./assets/images/cv1.png"></a>
    </div>
    <div class="principal_droite"></div>
</div>

    <div class="container_cheval">
        <img src="./assets/images/cheval.gif" class="cheval">
    </div>

    <div class="puzzle_phone">
        <img class="image_puzzle_phone" src="./assets/images/puzzle-new.png"></img>
    </div>