---
title: WORKS
layout: 'base_works.njk'
permalink: /works.html
---

{% set sortedWorks = collections.works | sort(attribute='data.date') %}
{% set uniqueYears = [] %}
{% set lastArticle = null %}

{% for work in sortedWorks %}
    {% set year = work.data.année %}
    {% if uniqueYears.indexOf(year) == -1 %}
        {% set _ = uniqueYears.push(year) %}
    {% endif %}
{% endfor %}

{% for year in uniqueYears | sort %}
    {% for work in sortedWorks | sort(attribute='data.mois') %}
        {% if work.data.année == year %}
            {% set lastArticle = work %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% block last_article %}
{% if lastArticle %}

<article class="descriptif_projets" id="{{lastArticle.data.numero_article}}">
    
    <!-- TITRE -->
    <div class="container_titre_general">
        <div class="container_titre_fr">
            <h2 class="titre_projets_fr">{{lastArticle.data.fr_nom_maj}}</h2>
            <p class="lieu_fr">{{lastArticle.data.fr_details_lieu | markdown | safe }}</p>
            <p class="type_fr">{{lastArticle.data.fr_type_duree | markdown | safe }}</p>
            <p class="lien_video_fr"><a href="{{lastArticledata.lien}}" target="_blank">{{lastArticle.data.texte_lien_fr}}</a></p> 
             
        </div>
        <div class="container_titre_en">
            <h2 class="titre_projets_en">{{lastArticle.data.en_nom_maj}}</h2>
            <p class="lieu_en">{{lastArticle.data.en_details_lieu | markdown | safe }}</p>
            <p class="type_en">{{lastArticle.data.en_type_duree | markdown | safe }}</p>
            <p class="lien_video"><a href="{{lastArticle.data.lien}}" target="_blank">{{lastArticle.data.texte_lien_en}}</a></p>
            
        </div>
        <div class="langue_container_phone">
            <button class="en_btn" onclick="changeLanguage('en')"><img class="img_langue" src="./assets/images/Bouton_EN.png"></button>
            <button class="fr_btn" onclick="changeLanguage('fr')"><img class="img_langue" src="./assets/images/Bouton_FR.png"></button>
        </div>
        <div class="container_icon">
            <a id="iconLink" href="/index.html"><img src="/assets/images/Contact Page/nav_icon2.png" class="icon"></a>
        </div>        
        <div class="container_icon_phone">
            <a class="iconLink" href="{% if container_gauche_display === 'flex' %}/index.html{% else %}/works.html{% endif %}"><img src="/assets/images/Contact Page/nav_icon2.png" class="icon"></a>
        </div>
    </div>
    <!-- PHOTOS -->
    <div class="photos" >
            <button class="bouton_back"><img src="./assets/images/fleche_left.png"></button>
            <div class="container_bouton">
                <button class="bouton_grand"><img class="img_pleinecran" src="./assets/images/pleinecran.png"></button>
                <button class="bouton_forward_phone"><img src="./assets/images/fleche_right.png"></button>
                <img class="image" src="{{lastArticle.data.image_couv}}">
              </div>
    {% for image in lastArticle.data.images %}
        <img class="image" src="{{ image.path }}">
    {% endfor %}
            <button class="bouton_forward"><img src="./assets/images/fleche_right.png"></button> 
            <!-- Add more images as needed -->
    </div>
    <!---DESCRIPTION DES PROJETS -->
    <div class="texte_projets_fr">
        <p class="description_fr">{{lastArticle.data.description_fr | markdown | safe }}</p>
        <p class="description_pieces_fr">{{lastArticle.data.details_pieces_fr | markdown | safe }}</p>
    </div> 
    <div class="texte_projets_en">
        <p class="description_en">{{lastArticle.data.description_en | markdown | safe }} </p>
        <p class="description_pieces_en">{{lastArticle.data.details_pieces_en | markdown | safe }}</p>
    </div> 
    <!---CREDITS-->
    <div class="credits_texte">
        <p class="credits">{{lastArticle.data.credits | markdown | safe }}</p>
    </div>
    {% if lastArticle.data.vimeo_src == "x" %}
    <div class="vimeo-container_hide" id="vimeo_video">
    {% else %}
    <div class="vimeo-container_show" id="vimeo_video">
    {% endif %}
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="{{ lastArticle.data.vimeo_src }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <script src="https://player.vimeo.com/api/player.js"></script>

    {# {% if showLightbox %}
    <div class="custom-lightbox" style="display:flex">
        <img src="/assets/images/close_button.png" class="close-image">
        <div class="arrow left-arrow" style="background-image: url(/assets/images/fleche_left.png)"></div>
        <img style="user-select: none;">
        <div class="arrow right-arrow" style="background-image: url(/assets/images/fleche_right.png)"></div>
    </div>
    {% endif %} #}

</article>  
{% endif %}
{% endblock %}